name: Trigger Build on Push

on:
  push:
    branches:
      - main
    paths:
      - 'package.json'
      - '.github/workflows/build-release.yml'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Workflow Detected
        run: echo "Workflow files detected by GitHub"
